<table class="table">
  <thead>
    <tr>
      <th>会員ID</th>
      <th>氏名</th>
      <th>メールアドレス</th>
      <th>ステータス</th>
    </tr>
  </thead>

  <tbody>
    <% customers.each do |customer| %>
     <tr>
      <td class="info col-xs-1">
        <%= customer.id %>
      </td>
      <td class="text-left">
        <%= link_to admin_customer_path(customer) do %><%= customer.last_name %><%= customer.first_name %><% end %>
      </td>
      <td class="text-left">
        <%= customer.email %>
      </td>
      <td class="col-xs-2">
        <% if customer.is_active == true%>
          <p class="text-success">有効</p>
        <% else %>
          <p class="text-secondary">退会</p>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>